# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments & Virtual Envs
.env
.venv
env/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE & OS clutter
.DS_Store
.idea/
.vscode/
Thumbs.db
._*
